{% extends 'layouts/base.html' %}

{% block content %}
<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, exercitationem enim aspernatur est, inventore
    cupiditate asperiores doloribus eligendi, placeat fuga voluptatum. Itaque facere, optio fugit amet eius vitae
    laboriosam autem totam nisi harum nulla eveniet fugiat illum assumenda dolor labore molestiae a odio sint ea
    pariatur rerum ex provident. Fugiat animi, deserunt, blanditiis deleniti quis nulla nisi eum consectetur modi
    obcaecati, nobis sit dolor quos amet. Corporis, dolore at ducimus sed, minus voluptates numquam omnis ratione libero
    nostrum non rerum inventore, doloremque magni quod voluptate similique unde recusandae fugit? Neque veniam sit modi
    eos quibusdam assumenda quam atque, explicabo minus!</p>
<p>Website created by {{ username }}</p>
{% endblock %}