{% extends 'layouts/base.html' %}

{% block content %}
<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, exercitationem enim aspernatur est, inventore
    cupiditate asperiores doloribus eligendi, placeat fuga voluptatum. Itaque facere, optio fugit amet eius vitae
    laboriosam autem totam nisi harum nulla eveniet fugiat illum assumenda dolor labore molestiae a odio sint ea
    pariatur rerum ex provident. Fugiat animi, deserunt, blanditiis deleniti quis nulla nisi eum consectetur modi
    obcaecati, nobis sit dolor quos amet. Corporis, dolore at ducimus sed, minus voluptates numquam omnis ratione libero
    nostrum non rerum inventore, doloremque magni quod voluptate similique unde recusandae fugit? Neque veniam sit modi
    eos quibusdam assumenda quam atque, explicabo minus!</p>
    <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam ducimus reprehenderit ex libero excepturi accusamus provident architecto voluptatem pariatur magni quas quidem debitis nihil cumque, totam praesentium voluptates, eum aliquam ipsam nulla illo? Aliquid ducimus possimus deserunt ad, quibusdam repudiandae pariatur quam quod cum dignissimos debitis odio nulla iste, illo provident nam qui officia facere aliquam modi perferendis nisi tenetur dolor earum. Minus maxime at culpa corrupti, inventore non labore laborum perferendis autem aliquid obcaecati veniam alias reiciendis officiis maiores deserunt quibusdam, possimus numquam sapiente qui natus id. Reprehenderit totam voluptas consequatur neque, perferendis quas ad vitae sequi possimus facere.</P>
<p>Website created by {{ username }}</p>
{% endblock %}